@using ClinicaVetPet.Models
@model Mensagem
@{
    ViewData["Title"] = "Contato";
}
<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <form asp-action="SalvarMensagem" method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="nome">Nome:</label>
                <input asp-for="nome" class="form-control" placeholder="Por favor, digite seu nome..." required>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="email">Email:</label>
                <input asp-for="email" type="email" class="form-control" placeholder="Agora seu Email..." required>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="telefone">WhatsApp:</label>
                <input asp-for="telefone" class="form-control" placeholder="Seu WhatsApp?">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="tipoMensagem">Assunto:</label>
                <select onchange="checarSelecao(this);" asp-for="tipoMensagem" class="form-control">
                    <option value="1">Dúvida</option>
                    <option value="2">Serviços</option>
                    <option value="3">Elogio</option>
                </select>
            </div>
            <div class="form-group col-md-4" id="data" style="display: none;">
                <label asp-for="data">Data:</label>
                <input type="date" class="form-control" id="dataInput" asp-for="data">
            </div>
            <div class="form-group col-md-4">
                <label asp-for="animal">Seu Pet:</label>
                <input asp-for="animal" class="form-control" placeholder="Nome do Pet?">
            </div>
        </div>
        <div class="form-group">
            <textarea asp-for="mensagem" class="form-control" cols="15" rows="10" required placeholder="Digite sua mensagem..."></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Enviar">
    </form>
</div>