@{
    ViewData["Title"] = "Home";
}

<div class="serviços-index">
    <div class="descrição">
      <div class="text-center">
        <h1 class="display-4">O especialista Dr. Cão recomenda a PetVet!</h1>
    <br>
      <div>
<figure>
    <img src="https://www.amapolamunuera.com/wp-content/uploads/2020/06/medicamentos_veterinarios_1-scaled.jpg"
    width="900" 
    height="400">
</figure>
      </div>
       <h2 class="display-4">Mais que uma PetShop!</h2>
    <br>
    <br>
<p>            
<h2>Temos um Plantão 24h</h2>
    <br>
<h3>Contamos com clínicas veterinárias com Plantão 24h, para que seu pet possa sempre ser atendido quando algum imprevisto rolar.</h3>
    <br>
<h2>Atendimento com especialistas</h2>
    <br>
<h3>Neurologistas, dermatologistas, fisioterapeutas, oftalmologistas, ortopedistas, anestesistas, endocrinologistas podem estar próximos de você, confira na nossa rede.</h3>
    <br>
<h2>Somente as melhores clínicas</h2>
    <br>
<h3>Todos nossos atendimentos são avaliados pelos clientes, somente as clínicas mais bem avaliadas permanecem na nossa rede. Só o melhor para os pets, né?</h3>
    <br>
<h2>Conte com atendimento especializado</h2>
    <br>
<h3>Atendemos pelo canal de sua preferência. WhatsApp, email, telefone, tanto faz: Você escolhe como quer ser atendido. A gente cuida do resto.</h3>
    <br>
    <h2><button onclick="location.href='@Url.Action("Serviços", "Home")'" class="btn btn-primary">Conheça nossos serviços</button>
 </p>   
    </div>
</div>