@{
    ViewData["Title"] = "Serviços";
}

<h1 class="titulo">Conheça nossos serviços!</h1>
<br>
<div class="serviços-container">
    <div class="serviço">
        <div id="serviços">
        </div>
        <div class="serviço-descrição">
                        <br>
                        <h2>Atendimento a domicílio</h2>
                        <h4>Nossa rede credenciada conta com profissionais que atendem seu pet a domicílio. Assim, ele pode ser cuidado no conforto de casa, sem o estresse de sair.</h4>
                        <br>
                    <button onclick="location.href='@Url.Action("Contato", "Home")'" class="btn btn-primary">Agendar</button>
                        <br>
                        <h2>Vacinação</h2>
                        <h4> As vacinas previnem uma série de doenças. O protocolo obrigatório de vacinas coberto pelo plano vai proteger seu pet de: raiva, gripe, cinomose, parainfluenza, parvovirus, leptospirose, rinotraqueite, leucemia, entre outras.</h4>
                        <br>
                    <button onclick="location.href='@Url.Action("Contato", "Home")'" class="btn btn-primary">Agendar</button>
                        <br>
                        <h2> Castração</h2>
                        <h4> Além de controlar a natalidade, a castração também previne doenças que podem ser perigosas para os pets.</h4>
                        <br>
                    <button onclick="location.href='@Url.Action("Contato", "Home")'" class="btn btn-primary">Agendar</button>
                        <br>
                        <h2>Banho & Tosa</h2>
                        <h4>O Pet está sujinho ou precisando de um novo penteado? Temos um salão de beleza exclusivo para o seu bichinho!</h4>
                        <br>
                    <button onclick="location.href='@Url.Action("Contato", "Home")'" class="btn btn-primary">Agendar</button>
           </div>
        </div>
    </div>
</div>